html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: black;
	font-family: 'Microsport', sans-serif;



	background-size: cover;

	background-color: black;
    background-position: bottom;
}

.navbar {
	background-color: transparent !important;
}

.nav-item {
	cursor: pointer;
}

#hero-section .container-fluid {
	background-color: transparent;
}

#hero-section {
	height: 10vh;
	border: solid;
	border-color: transparent; 
	margin-left: 15%;
	margin-right: 15%;
}

#bio {
    margin-top: 4vh;
	margin-left: 15%;
	margin-right: 15%;
    height: 70vh;
    /*background-color: green; */
    justify-content: center;
    text-align: center;
}

#bio h1 {
    height: 20%;
    font-size: 80px;
    color: #E8F9FD;
}

.wrapper-1 {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    text-align: center;

}

.picture {
    /*background-color: blue; */
    width: 50%;
    height: 50%;
}

img {
    border-radius: 20px;
}

.writing{
    /*background-color: red; */
    width: 50%;
    height: 50%;
    color: #E8F9FD;
}

.green {
    color: #32a852;
}

.red {
    color: #eb0010;
}

.maroon {
    color: #800000;
}

.gold {
    color: #d4af37;
    color: #eb7e09;
}

.blue {
    color: #093eeb;
}

.yellow {
    color: #ebdb00;
}

.footer {
	color: #e8f9fd;
	color: grey;
	font-size: 15px;
	border: solid;
	border-color: transparent;
	height: 15vh;
	margin-bottom: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: end;
}
