html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Microsport', sans-serif;
	background-size: cover;
	background-color: black;
    background-position: bottom;
}

.navbar {
	background-color: transparent !important;
}

.nav-item {
	cursor: pointer;
}

#hero-section .container-fluid {
	background-color: transparent;
}

#hero-section {
	height: 65vh;
	border: solid;
	border-color: transparent; 
	margin-left: 15%;
	margin-right: 15%;
}

.project-box-container {
    height: 50vh;
    
}

.project-box {
    background-color: white;
    height: 20vh;
    width: 300px;
}

.footer {
	color: #e8f9fd;
	color: grey;
	font-size: 15px;
	border: solid;
	border-color: transparent;
	height: 15vh;
	margin-bottom: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

@media(min-width:768px) {
    html {
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0px;
        padding: 0px;
        font-family: 'Microsport', sans-serif;
        background-size: cover;
        background-color: black;
        background-position: bottom;
    }

    .navbar {
        background-color: transparent !important;
    }

    .nav-item {
        cursor: pointer;
    }

    #hero-section .container-fluid {
        background-color: transparent;
    }

    #hero-section {
        height: 65vh;
        border: solid;
        border-color: transparent; 
        margin-left: 15%;
        margin-right: 15%;
    }

    .header {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: #E8F9FD;
    }
    
    .header h1 {
        text-shadow: 3px 3px 5px #3e91a3;
        font-size: 70px;
    }

    .header p {
        font-size: 17px;
        text-align: center;
        margin-left: 140px;
        margin-right: 140px;
    }

    .project-box-container {
        background-color: none;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .project-box {
        color: #E8F9FD;
        height: 20vh;
        margin: 6px;
        display: flex;
        background: black;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid;
        border-color: maroon;
        border-radius: 10px;
    }

    .active-project {
        background: #071a1c;
        background: linear-gradient(90deg, rgba(7, 26, 28, 1) 0%, rgba(5, 52, 59, 1) 53%, rgba(7, 82, 105, 1) 100%);
        border-color: transparent;
    }

    .project-box h5 {
        margin: 0;
        padding: 0;
        text-shadow: 2px 2px blue;
        font-size: 20px;
        height: 80%;
        display: flex;
        align-items: center;
    }

    .project-box p {
        margin: 0;
        padding: 0;
        margin-top: -13px;
        width: 100%;
        height: 50%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(94, 44, 133, 1)); 
        border-top: 3px solid #2a1342;
        font-size: 14px;
        text-shadow: 2px 2px rgba(7, 26, 28, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .project-box-container a {
        text-decoration: none;
        background-color: transparent;
    }

    .active-project:hover {
        text-decoration: none;
        background-color: transparent;
        box-shadow: 0px 0px 12px #0c0063;
    }

    .honeywell-1 {
        display: flex;
        flex-direction: column;
        /*background-image: radial-gradient(teal, rebeccapurple);
        background-image: url("../img/honeywell_white.png");
        background-size: contain;
        background-repeat: no-repeat;
    */
    }

    .footer {
        color: #e8f9fd;
        color: grey;
        font-size: 15px;
        border: solid;
        border-color: transparent;
        height: 15vh;
        margin-bottom: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}
