html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: black;
	font-family: 'Microsport', sans-serif;



	background-size: cover;

	background-color: black;
	background-image:
		radial-gradient(
			circle closest-side,
			rgba(89, 206, 143, 0.4) 0%,
			black 80%
		);
    background-position: bottom;
}

.navbar {
	background-color: transparent !important;
}

.nav-item {
	cursor: pointer;
}

#hero-section .container-fluid {
	background-color: transparent;
}

#hero-section {
	height: 65vh;
	/*background-position: center;
	background-size: cover;

	background-color: black;
	background-image:
		radial-gradient(
			circle farthest-side,
			rgba(89, 206, 143, 0.4),
			black
		);
    background-position: bottom; */
	border: solid;
	border-color: transparent; 
	margin-left: 15%;
	margin-right: 15%;
}

.hero-container {
	height: 60vh;
	color: #E8F9FD;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid;
	border-color: transparent;
}

.hero-container h1 {
	color: #E8F9FD;
	font-size: 60px;
	text-shadow: 3px 3px 5px #3e91a3;
	width: 100%;
	height: 30%;
	border: solid;
	border-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: end;
	margin-bottom: 5%;
}

h1.small {
	font-size: 40px;
	width: 100%;
	height: 30%;
	border: solid;
	border-color: transparent;
	margin-bottom: 5%;
	margin-top: 5%;
}

.hero-container h3 {
	color: #E8F9FD;
	font-size: 18px;
	text-shadow: 1px 1px #3d91a3;
	width: 100%;
	height: 8%;
	border: solid;
	border-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.riddle {
	color: orange;
	text-shadow: blue 3px 3px 15px;
}

.container {
	color: #E8F9FD;
    margin: 0;
    padding; 0;
    border: solid;
    border-color: transparent;
	justify-content: center;
	align-items: center;
}

.icons {
	border: solid;
	border-color: transparent; 
	height: 25%;
	width:  99vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.icon-box {
	border: solid;
	border-color: transparent;
	border-radius: 20px;
	box-shadow: rgba(61, 145, 163, 0.35) 0px 5px 15px;
	width: 250px;
	height: 130px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	text-align: center;
	margin: 20px 25px 0 25px;
	transition: all 0.3s ease;
}

a {
	all: unset;
	color: inherit;
	text-decoration: none;
	display: block;
}

.icons p {
	transition: all 0.3s ease;
	box-shadow: none;
}

.icons i {
	transition: all 0.3s ease;
	box-shadow: none;
}

.icons :hover {
	cursor: pointer;
	box-shadow: rgba(61, 145, 163, 0.8) 0px 5px 15px;
}

.icons :hover p {
	color: rgba(161, 237, 255, 1);
	/*text-shadow: rgba(61, 145, 163, 0.35) 0px 5px 15px; */
	box-shadow: none;
}

.icons :hover i {
	box-shadow: none;
	/*color: rgba(161, 237, 255, 1); */
}

i {
	font-size: 30px;
}

.footer {
	color: #e8f9fd;
	color: grey;
	font-size: 15px;
	border: solid;
	border-color: transparent;
	height: 15vh;
	margin-bottom: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: end;
}
